<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" type="text/css" href="{% static 'opera/dist/screen.css' %}">

</head>
<body>
<h1>VIRTUOSO SPARQL QUERY FORM</h1>

<hr>

<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}

{% for field in form %}
<div class="{{ field.name }}">
		{{ field.label_tag }}
		{{ field }}

		<ul class="errorlist">
		{% for error in field.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
</div>

{% endfor %}

<input type="submit" class="submit-button">
</form>

{{ form.non_field_errors }}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>
